{% extends 'userindex.html'%}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" id="customers">
    <tr>
      <th scope="col">NAME</th>

      <td scope="col">{{v[3]}} {{v[4]}}&nbsp;</td>
    </tr>

    <tr>
      <th>Car Model&nbsp;</th>
      <td>&nbsp;{{v[0]}}</td>

    </tr> <tr>
      <th>Seater</th>
      <td>&nbsp;{{v[1]}}</td>

    </tr> <tr>
      <th>Reg No.</th>
      <td>&nbsp;{{v[5]}}</td>

    </tr>
<tr>
      <th>Price</th>
      <td>&nbsp;{{amtss}}</td>

    </tr>
<tr>
      <th>Predicted % </th>
      <td>&nbsp;{{val}}</td>

    </tr>

  </table>
</form>
{% endblock %}